body{
    font-family: 'Montserrat', sans-serif;
}

header{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

#league{
    background-color: white;
}

.fav_carousel{
    height: auto;
    width: 100%
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
